{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Basic Details</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="/static/app.css" />
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--script for image rotation using canvas hml5 !-->
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="container" id="grad1">
<div class="box4" style="background-color:#F0F0F0;">
<img src="{% static "embitel_logo.png" %}" width="200" height="53">                
   <a href="/logout/" class="btn btn-warning" role="button" style="background-color:#E47833;float: right;">Logout</a>
</div>
</div>


<hr style="height:0.1em;background-color:lightgray;box-shadow: 0.1px 0.1px 0.1px gray;border: 1px ridge lightgray; border-radius: 2px;">

<div class="container-fluid" id="grad1">
<div class="box1">
<table class="table table-striped table-hover" style="height:15em;width:13em;">

    <tbody>
      <tr>
        <td><a href="/iot/dashboard/"><span class="glyphicon glyphicon-user"></span> My Profile</a></td>
        
      </tr>
      <tr>
        <td><a href="/iot/device_management/"><span class="glyphicon glyphicon-floppy-disk"></span> My Devices</a></td>
      </tr>
      <tr>
        <td><a href="/devices/add_device/"><span class="glyphicon glyphicon-plus-sign"></span> Add a Device</a></td>
      </tr>
      <tr>
     <td><a href="/devices/my_events/"><span class="glyphicon glyphicon-cloud"></span> My Events</a></td>
     </tr>
    <!--tr>
     <td><a href="/work_in_progress/"><span class="glyphicon glyphicon-circle-arrow-right"></span> Compare Devices</a></td>
     </tr--!>
     <tr>
     <td><a href="/devices/my_patterns/"><span class="glyphicon glyphicon glyphicon-eye-open"></span> My Patterns</a></td>
     </tr>
<tr></tr>
    </tbody>
  </table>
           
</div>

<div class="verticalLine" style="height:65em;">
</div>


<style>
div.box2 {
    box-sizing: border-box;
    width: 82%;
    height: 100%;
    margin-top: 0em;
    padding-top: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 0em solid gray;
    float: left;
    padding-bottom:0em;
    height : 100%;
}
</style>

<div class="box2">

<div style="width: 30%; height: 250px; float: left; margin: 0 auto">
	<div id="container-speed" style="width: 300px; height: 200px; float: left; margin: 0 auto "></div>

</div>


<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
<div style="width:30%; float:left; height:250px">
<!-- Code for image rotation to display the direction of motor!-->
<canvas id="logobg1" height="700px" width="500px" style="padding-top:0px; height:700px; width:500px"></canvas>
<script>
setInterval(function () {
 var updated_val;
 var response = $.ajax({
 url: "/devices/configure_ajax/auto_car/",
 type: "POST",
 data:{},
 success: function(data) {
        updated_value = data.updated_val;
                         }
                           });
    var canvas = document.getElementById('logobg1');
    var ctx = canvas.getContext('2d');
    var img = new Image();
    var ang = updated_value; //angle
    img.onload = function () { //on image load do the following stuff
        canvas.width = 500 << 1; //double the canvas width
        canvas.height = 800 << 1; //double the canvas height
        var cache = this; //cache the local copy of image element for future reference
            ctx.save(); //saves the state of canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height); //clear the canvas
            ctx.translate(cache.width, cache.height); //let's translate
            ctx.rotate(Math.PI / 180 * (ang -= 90)); //increment the angle and rotate the image 
            ctx.drawImage(img, -cache.width / 2, -cache.height /2); //draw the image ;)
            ctx.restore(); //restore the state of canvas
    };
    img.src =  '{% static "auto_car.png" %}'; //img
        }, 500);
</script>
</div>


<div style="width: 30%; height: 250px; float: left; margin: 0 auto">
        <div id="container" style="min-width: 310px; max-width: 400px; height: 250px; margin: 0 auto"></div>
</div>



<script>

$(function () {
    var updated_speed;
    $('#container').highcharts({

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Speedometer',
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: 100,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'km/h'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },

        series: [{
            name: 'Speed',
            data: [{{previous_speed}}],
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    },
        // Add some life
        function (chart) {


            if (!chart.renderer.forExport) {
                setInterval(function () {

			var updated_val = $.ajax({
			url: "/devices/configure_ajax/auto_car/",                                  
			type: "POST",                                                              
			data:{},
			success: function(data) {
				updated_speed = data.updated_speed;                                  
			}
			}); 


                    var point = chart.series[0].points[0],
                        newVal,
                        inc = Math.round((Math.random() - 0.5) * 20);

                    point.update(updated_speed);

                }, 1000);
            }
        });
});
</script>

<script>
var updated_value;
$(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [40, '#55BF3B'], // green
                [179, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: 10,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The ANGLE gauge
    $('#container-speed').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 180,
            title: {
                text: 'Direction'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [{{previous_angle}}],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:15px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    }));

    // Bring life to the dials
    setInterval(function () {

var updated_val = $.ajax({
url: "/devices/configure_ajax/auto_car/",
type: "POST",
data:{},
success: function(data) {
        updated_value = data.updated_val;
}
});
  
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            point.update(updated_value);
        }

        // RPM
        chart = $('#container-rpm').highcharts();
        if (chart) {
            point = chart.series[0].points[0];

            point.update(updated_value);
        }
    }, 1000);


});
</script>


<div style="width: 30%; height: 300px; float: left; padding-left:5%; margin: 0 auto">
<table class="table table-striped table-hover" style="height:15em;width:13em;">

    <tbody>
      <tr>
        <td>Engine Status</td>
        <td></td>
      </tr>
      <tr>
        <td>Direction</td>
        <td></td>
      </tr>
      <tr>
        <td>Speed</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> 

<div style="width: 30%; height: 300px; float: right; padding-right:5px; margin: 0 auto">
<table class="table table-striped table-hover" style="height:15em;width:13em;">

    <tbody>
      <tr>
        <td>Transmission Mode</td>
        <td></td>
      </tr>
      <tr>
        <td>Drive Mode</td>
        <td></td>
      </tr>
      <tr>
        <td>Obstacles</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> 


</div>
