{% extends "base.html" %}
{% load staticfiles %}
{% load myfilters %}

{% block 'body' %}

<link rel="stylesheet" type="text/css" href="/static/menu_tabs.css" />
<script type="text/javascript" src="/static/menu_tabs.js"></script>

<style>
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}
</style>


<ul class="tabs" data-persist="true">
    <li><a href="#Div1"><span>Machine Patterns</span></a></li>
    <li><a href="#Div2"><span>Saved Patterns</span></a></li>
</ul>

<div class="tabcontents">
    <div id="Div1">
	<form name="patterns" id="ajaxform" class="ajaxform" action="/testing/" method="POST">

	<p>
	Pattern Name:&nbsp; <input type="text" name="pattern_name" required />
	&nbsp;&nbsp;
	<input type="submit"  value="Save" name="save"/>
	</p>


		<div class="patterns">
		    <div class="panel-group" id="accordion">
		{% for pattern in device_patterns %}
		    {% for key, val in pattern.iteritems %}
			    {% if forloop.counter == 1 %}
			<div class="panel panel-default">
			    <div class="panel-heading">
				    <a data-toggle="collapse" data-parent="#accordion" href="#RECOG_{{forloop.parentloop.counter}}">
			    <b><font color="black"> {{val.0}}</font></b> </a> 
			    </div>

			   <div id="RECOG_{{forloop.parentloop.counter}}" class="panel-collapse collapse">
				<div class="panel-body">

			   <table>
			     <tr>
			    {% elif forloop.counter > 1 %}
			    <td> {{key}} </td> <td>&nbsp;&nbsp;</td><td> <ul>
									  {% for time_at in val  %}
					 
									   <li>
                  
			       <input type="checkbox" name="{{pattern.device_details.1}}_pattern_{{key}}" id="a-{{forloop.parentloop.parentloop.counter}}-{{forloop.parentloop.counter}}" value="{{time_at.0}}:{{time_at.1}}">&nbsp;{{time_at.0}} : {{time_at.1}}
										&nbsp;&nbsp;
										&nbsp;&nbsp;

		
									  </li>


									 {% endfor %}
									  </ul>

			    {% endif %} 
			    {% if forloop.last %} 
			     </td></tr>
				</table>
			    {% endif %} 
				</div>
			    </div>
			</div>
		     {% endfor %}
		    
		{% endfor %}
		</div>
		</div>

	</form>
	</div>
	<div id="Div2">
				<div class="patterns">
				    <div class="panel-group" id="accordion">
				{% for pattern in user_accepted_patterns %}
					{% for key, val in pattern.iteritems %}
						{% if forloop.counter == 1  %}
						     <div class="panel panel-default">
			                                <div class="panel-heading">
                        		                <a data-toggle="collapse" data-parent="#accordion" href="#SAVED_{{forloop.parentloop.counter}}">
		                	                <b><font color="black"> {{val}}</font></b> </a>
                		        	        </div>

						{% else %}
                           			 	<div id="SAVED_{{forloop.parentloop.counter}}" class="panel-collapse collapse">
			                                  <div class="panel-body">


					{% for device_dict in val %}
						{% for key, val in device_dict.iteritems %}
						    {% if forloop.counter == 1 %}
							<i><b>{{ val }}</b></i>


				                           <table>
				                             <tr>
						    {% else %}
						
                            					<td> {{key}} </td> <td>&nbsp;&nbsp;</td><td> 
									<ul>
                                                                          {% for time_at in val  %}

                                                                               <li>{{time_at.0}} : {{time_at.1}}
                                                                                   &nbsp;&nbsp;
                                                                                   &nbsp;&nbsp;
										&nbsp;&nbsp;
										&nbsp;&nbsp;
									       </li>


                                                                            {% endfor %}
                                                                        </ul>

			                                {% if forloop.last %} 
				                             </td></tr>
                                			    </table>
							{% else %}
				                             </td>
							{% endif %}


	
						    {% endif %}
						{% endfor %}
					{% endfor %}		  
                			        	  </div>
                			        	 </div>
                		        	      </div>
						{% endif %}
				    
					{% endfor %}
				{% endfor %}
                	     </div>
                	     </div>


	</div>
</div>
{% endblock %}

{% block 'Rpannel' %}
{% endblock %}
